@page "/weapon"
@using Models.Dtos.Weapon
@inject IWeaponService _weaponService


<PageTitle>Зброя</PageTitle>

<div class="row mt-4">
    <div class="col-6">
        <h4 class="card-title text-primary">Зброя</h4>
    </div>
    <div class="col-4 offset-2">
        <a href="weapon/create" class="btn btn-primary form-control">Створити Зброю</a>
    </div>
    <div class="col-12 p-3">
        @if (Weapons.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Ім'я</th>
                        <th>Тип</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var weapon in Weapons)
                    {
                        <tr>
                            <td>@weapon.Name</td>
                            <td>@weapon.WeaponType.Name</td>
                            <td>
                                <NavLink href="@($"weapon/edit/{weapon.Id}")" class="btn-primary btn">
                                    <i class="bi bi-pencil-square"></i>
                                </NavLink>
                                <NavLink href="@($"weapon/delete/{weapon.Id}")" class="btn-danger btn">
                                    <i class="bi bi-trash3"></i>
                                </NavLink>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="spinner"></div>
        }
    </div>
</div>


@code {
    private IEnumerable<WeaponDto> Weapons { get; set; } = new List<WeaponDto>();
        
    protected override async Task OnInitializedAsync()
    {
        Weapons = await _weaponService.GetAllAsync();
    }
}
